/* Adicionar aqui toda a estilização criada para sua aplicação. */
*{
    font-family: sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    
}

.header{
    background-color: black;
    border-bottom: 3px solid #32b9cd;
    height: 15%;
    box-sizing: border-box;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px
}

.titulo{
    color: #32b9cd;
}

.navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    color: #e3b062;
}

.navbar a{
    color: #e3b062;
    text-decoration: none;
}

.banner{
    height: 400px;
    width: 100%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
}

.banner .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p{
    margin: 0;
    color: white;
    font-size: 28px;
    width: 170px;
}

.banner .container p span{
    font-weight: bold;
}

.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box h4{
    margin: 0;
    margin-top: 10px;
    color: #ed145b;
}

.box img{
    width: 120px;
    height: 120px;
}

.footer{
    width: 100%;
    height: 20%;
    background-color: #32b9cd;
}
.footer .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #32b9cd;
    color: white;
}

.footer .container h4{
    margin-bottom: 0;
}

/* LOGIN */

.login{
    height:82%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    color: #ed145b;
    background-color: #dcdcdc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    height: 180px;
    width: 500px;
    padding: 0 40px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.campo input{
    width: 100%;
    padding: 7px;
    text-align: center;
    border: 2px solid #32b9cd;
    border-radius: 10px;
}

.formulario span{
    font-weight: bold;
    font-size: small;
}

.formulario button{
    background-color: #ed145b;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    color: #dcdcdc;
    font-weight: bold;
    font-size:medium;
}

/* CADASTRO */

.card-cadastro .formulario{
    height: 350px;
}

/*SIMULADOR*/

.simulador{
    height: 76%;
}